.contact-completion-top {
  margin-top: rem(130);
}

.contact-completion__inner {
  text-align: center;
}

.contact-completion__text,
.contact-completion__comment {
  font-size: rem(20);
  letter-spacing: rem(2);
}
.contact-completion__comment {
  margin-top: rem(80);
}

.contact-completion__btn {
  margin-top: rem(90);
  margin-bottom: rem(150);
}
