.blog-single__list1,
.blog-single__list2 {
  padding-top: rem(24);
}

.blog-single__list1 {
  list-style-type: disc;
  list-style-position: inside;
}

.blog-single__list2 {
  list-style-type: decimal;
  list-style-position: inside;
}
