.cat-wrap {
  letter-spacing: rem(2);
  display: flex;
  align-items: center;
  // flex-wrap: wrap;
}

.cat-wrap-top {
  max-width: rem(1280);
  width: 100%;
  margin: auto;
  padding-top: rem(85);
}

.cat-wrap__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(92);
    padding-right: rem(92);
  }
}

.cat-wrap--all {
  text-transform: uppercase;
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  margin-right: rem(24);
}

.cat-wrap__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cat-wrap__item {
  margin-right: rem(24);
}
