.php {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}

.html {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.javascript {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.css {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.ruby {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}

.wordpress {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}

// ブログカテゴリーーーーーーーーーーーーーーーーー
.meo {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.seo {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.web {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
.marketing {
  color: $back-color;
  background-color: $white;
  padding: rem(4) rem(4);
  // margin-right: rem(24);
}
