.overview-list-top {
  max-width: rem(1280);
  width: 100%;
  margin: auto;
  padding-top: rem(101);
}

.overview-list__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    max-width: rem(1150);
    width: 100%;
    padding-left: rem(25);
    padding-right: rem(25);
    margin: auto;
  }
}
