.js-header {
  position: static;
  transition: all 1s ease 0s;
}

/*JSを使いfixedクラスが付与された際の設定*/
.js-header.fixed {
  background-color: rgba($color: $black, $alpha: 1);
  position: fixed; /*fixedを設定して固定*/
  z-index: 99999; /*最前面へ*/
  top: 0; /*位置指定*/
  left: 0; /*位置指定*/
  transition: all 1s ease 0s;
}
