// 透過度
$opacity: 0.6;
$hover-opacity: 0.8;

//汎用色
$black: #111;
$white: #fff;

// デザインカンプカラー

$line-color: #F9F871;
$back-color: #333333;
$label-color: #FFEA2E;
$new-icon-color:#FFBA6A;
$new-icon-color1:#C4C4C4;

