/* グーグルマップ・レスポンシブレイアウト */
.gmap-wrap {
  position: relative;
  height: 0;
  padding-bottom: 80%; /* 縦横比の指定 */
  overflow: hidden;
  @include mq(md) {
    padding-bottom: 33.3636363636364%;
  }
}

.gmap-wrap iframe,
.gmap-wrap object,
.gmap-wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
